@tailwind base;
@tailwind components;
@tailwind utilities;
.rtl {
    direction: rtl;
}
.SpinAnimation{
    animation: spin 10s linear infinite;
}
@keyframes spin {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.ReverseSpinAnimation{
    animation: Reversespin 10s linear infinite;
}
@keyframes Reversespin {
    0%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}
body , html {
    overflow-x: hidden;
    background-color: rgb(116, 64, 211);
}
.backdropfilter {
    backdrop-filter: blur(8px);
}